@import "tailwindcss";

@theme {
  --font-sans:
    "Roboto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Calluna";
  --color-vant-purple: #5d61ba;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  max-width: 100vw;
  overflow-x: clip;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "Calluna";
  font-style: normal;
  font-weight: normal;
  src:
    local("Calluna"),
    url("/public/fonts/calluna/calluna.woff") format("woff");
}
